{% extends "base.html" %}
{% load static %}


{% block page_header %}


{% endblock %}


{% block content %}


<div class="jumbotron"> 
  </nav>
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-6">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container-fluid">    
  <div class="row">
    <div class="col-xl">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body"><img src="/media/GettyImages-1283477913.jpg" class="img-responsive" style="width:100%;" alt="Image"></div>
        <div class="panel-footer text-center">All Products</div>
      </div>
    </div>
    <div class="col-xl"> 
      <div class="panel panel-danger">
        <div class="panel-heading text-center"></div>
        <div class="panel-body"><img src="/media/GettyImages-1283477913.jpg" class="img-responsive" style="width:100%;" alt="Image"></div>
        <div class="panel-footer text-center">Guitars</div>
      </div>
    </div>
    <div class="col-xl"> 
      <div class="panel panel-success">
        <div class="panel-heading text-center"></div>
        <div class="panel-body"><img src="/media/GettyImages-1283477913.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer text-center">Keys</div>
      </div>
    </div>
    <div class="col-xl"> 
      <div class="panel panel-success">
        <div class="panel-heading text-center"></div>
        <div class="panel-body"><img src="/media/GettyImages-1283477913.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer text-center">Audio</div>
      </div>
    </div>
  </div>
</div><br>

<!-- <footer class="container-fluid text-center center-block">
  <p>Newsletter signup: </p>
  <form class="form-inline" style="margin: auto;">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn">Sign Up</button>
  </form>
  <p>Online Store Copyright</p> 

</div>

</footer> -->

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Form -->
        <!-- <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form> -->
        <!-- Form -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-12">

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
          </div>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/"> Legato Music</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>

</div>
</div>
</div> 
                  
</html>
{% endblock %}