{% extends "base.html" %}
{% load static %}


{% block page_header %}


{% endblock %}


{% block content %}


<div class="jumbotron"> 
  </nav>
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-6">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container-fluid" style="padding-top: 25px;">
  <div class="row">
      <p>SHOP</p>
  </div>
</div>

<div class="container">    
  <div class="row">
    <div class="col-3">
      <div class="panel panel-primary">
        <div class="panel-heading">All Products</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-3"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Guitars</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-3"> 
      <div class="panel panel-success">
        <div class="panel-heading">Keys</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-3"> 
      <div class="panel panel-success">
        <div class="panel-heading">Audio</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br>

<footer class="container text-center center-block">
  <p>Newsletter signup: </p>
  <form class="form-inline" style="margin: auto;">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn">Sign Up</button>
  </form>
  <p>Online Store Copyright</p> 

</div>

</footer>

</body>
</html>

</div>
</div>
</div> 
                  
</html>
{% endblock %}