html {
    height: 100%;
}

body {
    color: #711F31;
    font-family: 'Comfortaa';
    background-color: #ffff;
}

/* Nav bar styling */

.navbar {
    background-color:#711F31;
}

.navfill {
    background-color:#711F31;
}

#guitars-link {
    color: #ffff;
}

#all-products-link {
    color: #ffff;
}

#keys-link {
    color: #ffff;
}

#audio-link {
    color: #ffff;
}

#guitars-link:hover {
    color: #E0AF3A;
}

#all-products-link:hover {
    color: #E0AF3A;
}

#keys-link:hover {
    color: #E0AF3A;
}

#audio-link:hover {
    color: #E0AF3A;
}
/* end nav bar styling */

.form-control {
    color: #711F31; 
    border-color: #711F31;
}


.btn {
    color: white;
    background-color: #711F31;
    
}

.logo-font {
    background-color: #711F31;
}

.jumbotron {
    background-image: url('/media/guitar hero.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20px;
    margin-top: 50px;
    height: 440px;
 }

.display-4 {
    padding-top: 120px;
    margin-top: 100px;
    color: white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* button styling */

.btn {
    background: #711F31;
    color: white;
}

.btn:hover {
    background: #E0AF3A;
    color: #9E3845;
}


.text-black {
    color: #711F31; !important;
}

.border-black {
    border: 1px solid black !important;
}

#delivery-banner {
    background-color: #E0AF3A;
    padding-top: 2px;
    padding-bottom: 2px;
}

#banner-text {
    margin: auto;
    width: 50%;
}

.my-1 {
    text-align: center;
}

.icons:hover {
    color: #E0AF3A;
}

#user-options:hover {
    color: #E0AF3A;
}

.panel-footer {
    background-color: #E0AF3A;
}



-------------------------------- Media Queries

/* Slightly larger container on xl screens */
/* @media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
} */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } 

    .header-container {
        padding-top: 164px;
    }
}




