{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<!-- ------ Cart ----------------------
HTML and CSS based on code by from Omkar Bailkeri at BBBootstrap -->
<div class="my-6"></div>
<div class="container px-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-5">
          <h2 class="heading cart" style="text-align: center;">Your Wishlist</h4>
      </div>
      {% endblock %}